.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.left{
  border: 2px solid rgb(43, 38, 38);
  height: 100vh;
  width: 20%;
  background-color: #2A2B32;
  color: #FFFFFF;
}

.right{
  border: 2px solid rgb(155, 170, 21);
  height: 100vh;
  width: 80%;
  background-color: #FFFFFF;
}
.left-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* height: 100vh; */
}
.chat-history{
  height: 80vh;
width: 100%;
  border-color: 2px solid yellow;
}
.menu-option{
  height: 16vh;
  width: 100%;
  background-color:  mediumaquamarine;
}

/* Right Side Content */

.right{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center;
   */
}

.resultDisplay{
  height: 90vh;
  top: 0;
  border: 2px solid red;
  overflow: scroll;
}
.input{
  display: flex;
  height: 10vh;
 width: 100%;
 border: 2px solid blue;
}
input{
  width: 100%;
}

.qustion.section{
  padding: 20px;
 
  padding: 20px;
  display: flex;
justify-content: center;
  align-items: center;
}
.answer.section{
  background-color: #F7F7F8;
  padding: 20px;
  display: flex;
justify-content: center;
  align-items: center;
}

.qustion div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer div{
  display: flex;
  justify-content: center;
  align-items: center;
}
i{
  margin-right: 10px;
}